---
import { Image } from "astro:assets";
import Socials from "../components/Socials.astro";
import Nav from "../components/Nav.astro";
import Text from "../components/Text.astro";
import Quote from "../components/Quote.astro";

interface Props {
  heading?: string;
  headerImage?: ImageMetadata | string;
  subheading?: string;
  quote?: string;
  author?: string;
  publication?: string;
  page?: 'home' | 'epk'| 'lyrics'
}
const { heading, headerImage,page, subheading, quote, author, publication } =
  Astro.props;

  function optimizeCloudinaryUrl(url: string, options = "f_auto,q_auto") {
  if (!url.includes("res.cloudinary.com") || !url.includes("/upload/"))
    return url;

  return url.replace("/upload/", `/upload/${options}/`);
}
const img = optimizeCloudinaryUrl(
      "https://res.cloudinary.com/dyspjkmgs/image/upload/v1765303897/RachelHall-160_k7lip8.jpg"
    )
---

<div class="header">
  <Nav page={page} />
  <div id="socials">
    <Socials  />
  </div>
  <div class="image-wrapper">
    <div class="overlay"></div>
    <img
      class="background-image"
      src={img}
      alt="Mariela sitting on a gray backdrop wearing a sequin gold and black leopard print top and a black leather skirt."
    />
  </div>
  {
    heading && (
      <div class="content-wrapper">
        <div class="content">
          <div class="heading-container">
            {headerImage && (
              typeof headerImage === "string" ? (
                <img class="header-image" src={headerImage} alt="An album cover" />
              ) : (
                <Image
                  class="header-image"
                  height="160"
                  width="160"
                  src={"https://res.cloudinary.com/dyspjkmgs/image/upload/v1765130984/underglow_copy_low_res_lagr1v.jpg"}
                  alt="An album cover"
                />
              )
            )}
            <div class="heading">
              <Text  type="heading-sm" color="white">
                {heading}
              </Text>
              <Text type="heading-xs" color="white">
                {subheading}
              </Text>
              {quote && (
                <Quote
                  quote={quote}
                  author={author}
                  publication={publication}
                />
              )}
            </div>

            <div class="heading-mobile">
              <Text  type="heading-lg"  textAlign="center">
                Mariela
              </Text>
              <Text textAlign="center" >Indie Rock Princess</Text>
                          </div>

          </div>
        </div>
      </div>
    )
  }
</div>
<style>
  .header {
    position: relative;
  }

  .image-wrapper {
    position: relative;
  }

  .background-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(24, 24, 35, 0.479);
  }

  .content-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--screen-900);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 5px 5px 5px var(--screen-900);
      }

  .heading-container {
    display: flex;
    gap: 1rem;
  }

  .heading {
    max-width: 600px;
    }

    .heading-mobile {
      display: none;
    }
  .header-image {
    border-radius: 10px;
  }

  @media screen and (max-width: 636px) {
    #socials {
      display: none;
    }

    .heading {
      display: none;
    }

    .heading-mobile {
      display: block;

    }

    .content {
      padding: 1rem;
      box-shadow: unset;
      background-color: unset;
    }

    .content-wrapper {
      padding: 0;
    }

    .header-image {
      display: none;
    }


</style>
