---
import Text from "./Text.astro";

const showData = {
  tours: [
    {
      name: "No More Truama Tour",
      year: 2024,
      link: "https://www.instagram.com/p/C_vRf4iO_B7/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==",
      description: "National Tour with",
      with: {
        name: "Flamy Grant",
        url: "https://www.flamygrant.com/",
      },
    },
  ],
  festivals: [
    { name: "ArtWalk", year: 2025, location: "San Diego, CA" },
    { name: "SheFest", year: 2024, location: "San Diego, CA" },
    { name: "San Diego Pride", year: 2023, location: "San Diego, CA" },
    {
      name: "Adams Ave Street Festival",
      year: 2023,
      location: "San Diego, CA",
    },
    { name: "SheFest", year: 2023, location: "San Diego, CA" },
    { name: "Black Potato Festival", year: 2019, location: "Clinton, NJ" },
    { name: "Alpharetta Pop Festival", year: 2018, location: "Atlanta, GA" },
  ],
  citiesAndVenues: {
    Nashville: [
      "The East Room",
      "The Underdog",
      "The 5 Spot",
      "The Basement",
      "The End",
      "The Cobra",
      "DRKMTTR Collective",
      "The Springwater",
      "Cafe Coco",
      "Kimbro's Pickin' Parlor",
      "Rocketown",
      "The Bowery Vault",
      "The Highwatt",
      "The Country",
    ],
    "San Diego": [
      "The Belly Up",
      "The Music Box",
      "Soda Bar",
      "The Black Cat",
      "The Whistle Stop",
      "The Ould Sod",
      "Winstons",
      "The Holding Company",
    ],
    "Los Angeles": ["Saint Rocke", "Hotel Cafe", "The Fox Den", "Bobby V's"],
    "New York": ["C'Mon Everybody", "Pianos"],
    Atlanta: ["Eddie's Attic", "The Masquerade"],
    Cincinnati: ["Urban Artifact", "Northside Tavern"],
    Birmingham: ["The Nick"],
    Charlottesville: ["The Twisted Tea Bazaar"],
    "Washington D.C.": ["The Electric Maid"],
    Dallas: ["Ruins"],
    Tulsa: ["The Colony"],
    "Springfield, MO": ["The Riff"],
    "St. Louis": ["Moshmellow"],
    Chicago: ["Hideout"],
    "South Bend": ["Stockroom East"],
    "Grand Rapids": ["Fountain Street Church"],
    "Maryville, TN": ["The Bird and the Book"],
    Chattanooga: ["Barking Legs Theatre"],
    "Charlotte, NC": ["Watershed Charlotte"],
    Louisville: ["Odeon"],
    "Florence, AL": ["116 E Mobile"],
  },
};
---

<div class="shows" id="shows">
  <Text textAlign="center" uppercase type="heading-sm" color="white">
    Tour/Show History
  </Text>

  <div class="content">
    <!-- TOURS -->
    <div class="card">
      <Text color="white" uppercase bold type="heading-xs">🚌 Tours</Text>
      <ul>
        {
          showData.tours.map((tour) => (
            <li>
              <strong>
                <a class="link" href={tour.link} target="_blank">
                  {tour.name}
                </a>
              </strong>{" "}
              {tour.description}
              <a class="link" href={tour.with.url} target="_blank">
                {tour.with.name}
              </a>
              , {tour.year}
            </li>
          ))
        }
      </ul>
    </div>

    <!-- FESTIVALS -->
    <div class="card">
      <Text color="white" uppercase bold type="heading-xs">🎪 Festivals</Text>
      <ul>
        {
          showData.festivals.map((festival) => (
            <li>
              <strong>{festival.name}</strong>, {festival.year} —{" "}
              {festival.location}
            </li>
          ))
        }
      </ul>
    </div>

    <!-- CITIES & VENUES -->
    <div class="card">
      <Text color="white" uppercase bold type="heading-xs"
        >📍 Cities & Venues</Text
      >
      <div class="accordion">
        {
          Object.entries(showData.citiesAndVenues).map(([city, venues]) => (
            <details>
              <summary>
                <strong>{city}</strong>
              </summary>
              <ul>
                {venues.map((venue) => (
                  <li>{venue}</li>
                ))}
              </ul>
            </details>
          ))
        }
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .shows {
    background-color: var(--primary-700);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .content {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .card {
    padding: 1rem;
    background-color: var(--primary-500);
    padding: 1.5rem;
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  .link {
    margin: 0 2px;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--white);
  }

  ul {
    list-style: disc;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
  }

  li {
    font-weight: 400;
    margin-bottom: 0.25rem;
  }

  .accordion details {
    margin-top: 0.5rem;
    background: var(--primary-100);
    padding: 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    li {
      color: var(--primary-700);
    }
  }

  .accordion summary {
    cursor: pointer;
    font-weight: bold;
    color: var(--primary-700);
    margin-bottom: 0.5rem;
  }

  .accordion ul {
    padding-left: 1rem;
    margin-top: 0.5rem;
  }

  @media screen and (max-width: 636px) {
    .content {
      max-width: unset;
    }
  }
</style>
